# Librerias

In [1]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot
import warnings
warnings.filterwarnings('ignore')
import urllib.request
import requests
import os

# Estilo de graficas

In [2]:
sns.set(rc={"figure.figsize": (10, 10)})
sns.set_style("whitegrid")

# Operaciones con valores faltantes

## Python

Por defecto en python los valores nulos son "None"

In [3]:
print(
    None or True,
    None or False,
    None == None,
    None is None,
    # None + True,
    # None / False,
    type(None),
    sep="\n"
)

True
False
True
True
<class 'NoneType'>

Python no permite hacer ninguna operación con valores nulos

## Numpy

Numpy marca los valores nulos como "np.nan"

In [4]:
print(
    np.nan or True,
    np.nan or False,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan / 2,
    np.nan * 7,
    type(np.nan),
    np.isnan(np.nan),
    sep="\n"
)

nan
nan
False
True
nan
nan
<class 'float'>
True

is regresa falso y == verdadero. Esto es porque los np.nan son floats, por lo que podemos usarlo para hacer operaciones.

## Pandas

In [5]:
test_missing_df = pd.DataFrame.from_dict(
    data=dict(
        x=[0, 1, np.nan, np.nan, None],
        y=[0, 1, pd.NA, np.nan, None]
    )
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

Pandas marca los valores nulos por default como "NaN", pero tambien entiende como valores nulos a "None" y "<NA>".

In [6]:
test_missing_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [7]:
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

isna y isnull son la misma función

In [8]:
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [9]:
pd.Series([pd.to_datetime("2022-01-01"), np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]

In [10]:
pd.Series([-1]).isnull()

0    False
dtype: bool

Algunas veces pandas marca valores nulos con el -1

# Cargar los conjuntos de datos

## Pima indiands

In [11]:
response_1 = requests.get("https://raw.githubusercontent.com/npradaschnor/Pima-Indians-Diabetes-Dataset/master/diabetes.csv")

os.makedirs('/root/Platzi/CurDatosFalt_1/data', exist_ok=True)

with open(os.path.join('/root/Platzi/CurDatosFalt_1/data', 'diabetes.csv'), 'w') as f:
    f.write(response_1.text)

diabetes = pd.read_csv('/root/Platzi/CurDatosFalt_1/data/diabetes.csv')

## oceanbuoys, pedestrian y riskfactors

In [12]:
oceanbuoys = next(iter(pyreadr.read_r('/root/Platzi/CurDatosFalt_1/data/oceanbuoys.rda').values()))
pedestrian = next(iter(pyreadr.read_r('/root/Platzi/CurDatosFalt_1/data/pedestrian.rda').values()))
riskfactors = next(iter(pyreadr.read_r('/root/Platzi/CurDatosFalt_1/data/riskfactors.rda').values()))

In [13]:
oceanbuoys.shape, pedestrian.shape, riskfactors.shape, diabetes.shape

((736, 8), (37700, 9), (245, 34), (768, 9))

# Pasos para tabular valores faltantes

1) Hacer preguntas simples:  
    -¿Cuantos valores deberían haber en el conjunto de datos?  
    -¿Cuantos valores faltantes y completos hay en el conjunto de datos?  
  
2) Construir resumenes:  
    -¿Cuantos valores faltantes existen por cada variable?  
    -¿Cuantos valores faltantes existen por cada observación?  
    -¿Cuantas variables tienen $x$ número de valores faltantes?  
    -¿Cuantas observaciones tienen $x$ número de valores faltantes?  
  
3) Preguntas relacionadas al negocio:  
    -¿Cuantos valores faltantes tengo en una variable cada $x$ pasos (semanas, meses, días)?  
    -¿Cuál es mim racha de valores completos y faltantes?

# Tabulación de valores faltantes